*{
    padding: 0;
    margin: 0;
}
body{
    font-family: system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #181823;
    color: #fff;
}
.crud{
width: 80%;
margin: auto;
}
.crud .head{
text-transform: uppercase;
text-align: center;
margin: 10px 0;
}
input{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    background-color: #111;
    margin: 4px 0;
    border-radius: 4px;
    padding: 4px;
    color: white;
}
input:focus{
    background-color: #000;
    transform: scale(1.1);
}
.price input{
    width: 20%;
}
#total{
    background-color: rgb(117, 1, 1);
    padding: 5px 2px;
    border-radius: 4px;
}
#total::before{
    content: "total:";
}
button{
    width: 100%;
    height: 30px;
    border: none;
    cursor: pointer;
    background-color: #537FE7;
    color: #fff;
    border-radius: 20px;
    transition: .5s;
}
button:hover{
    background-color: #83a2a5;
    letter-spacing: 1px;
}
.btnsearch{
    display: flex;
    justify-content: space-between;
}
.btnsearch button{
    width: 45%;
}
#deleteall{
    margin: 20px 0;
}
table{
    text-align: center;
    width: 100%;
    margin: 10px 0;
}
table th{
    text-transform: uppercase;
}
th,td{
    padding: 5px;
}